*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
    background-image: url(../Img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    background-attachment: fixed;
}
body:before{
    opacity: 0,10;
}
header{
    background-color: red;
    padding: 30px 0;
}
header h1{
    color: white;
    font-size: 40px;
    font-weight: 100;
    font-style: italic;
    display: inline-block;
    position: relative;
    bottom: 35px;
    margin-left: 20px;
}
nav{
    background-color: rgb(218, 33, 0);
    margin-bottom: 20px;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li{
    flex-grow: 1;
}
nav ul li a{
    color: white;
    text-decoration: none;
    padding: 3px 6px;
    text-align: center;
}
nav ul li a:hover{
    background-color: black;
}
footer{
    background-color: blanchedalmond;
    clear: both;
    color: black;
    text-align: center;
    padding: 10px 0;
    margin-top: 110px;
}
nav ul li a.activo{
    background-color: black;
}
.holder{
    max-width: 960px;
    margin: 0 auto;
}
/* Inicio de estilo de inicio*/
h2{
    color: white;
    font-weight: 900px;
    text-decoration: double;
}

.bienvenidos{
    width: 65%;
    padding-right: 30px;
    box-sizing: border-box;
}
.columnas{
    display: flex;
    justify-content: space-between;
}
main div div p{
    color: white;
    background-color: rgba(255, 0, 0, 0.76);
}
@media (max-width: 801px){
    header img{
        width: 100px;
    }
    header h1{
        color: white;
        font-size: 20px;
        font-weight: 50;
        font-style: italic;
        display: inline-block;
        position: relative;
        bottom: 15px;
        margin-left: 10px;
    }
    .banner img{
        height: 300px;
        width: 710px;
    }
    main div div img{
        width: 300px;
        height: 170px;
        margin-right: 100px;
    }
    h2{
        background-color: red;
        width: 42%;
        height: 30px;
    }
    footer{
        margin-top: 520px;
    }
}
@media (max-width: 501px){
    header img{
        width: 90px;
    }
    header h1{
        color: white;
        font-size: px;
        font-style: italic;
        display: inline-block;
        position: relative;
        bottom: 15px;
        margin-left: 10px;
    }   
    .banner img{
        height: 200px;
        width: 495px;
    }
    main div div img{
        width: 300px;
        height: 170px;
        margin-right: 100px;
    }
    h2{
        background-color: red;
        width: 102%;
        height: 30px;
    }
    footer{
        
        margin-top: 610px;
    }
}
/* Fin de estilo de inicio*/
